[Desktop Entry]
Type=Application
Name=Orion
GenericName=Spotify Mini Player
Comment=Lightweight Spotify mini player
Exec=minify
Icon=com.modiostudio.minify
Terminal=false
Categories=Audio;AudioVideo;Player;GTK;
Keywords=Spotify;Music;Player;Mini;
StartupWMClass=Orion
